<h1>新規作成</h1>
<% if @tweet.errors.present? %>
<h3>1文字以上140文字以下で入力してください</h3>
<ul>
<% @tweet.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>
<%= form_for @tweet , message: {action: :create} do |f| %>
<%= f.label :message, 'ツイート' %>
<%= f.text_field :message %>
<%= f.submit '投稿' %>
<% end %>

